{{#if (or media.isMobile media.isTablet)}}

  {{log "Mobile o Tablet"}}

  {{#if sidebarVisible}}
    <div class="bg-black-50 z-max fixed absolute--fill center" {{action "ocultarSidebar"}}>
      <div class="ui fixed inverted vertical menu bg verde" style="bottom: 0" {{action "ocultarSidebar"}}>
        {{lista-de-rutas}}
      </div>
    </div>
  {{/if}}

    <div class="ui fixed borderless top menu header-oficial-mobile"></div>

    <a class="ui launch icon item" {{action 'mostrarSidebar'}}>
      <i class="content icon"></i>
    </a>

    {{#link-to "app.index" (query-params id="") tagName="div" class="item logo-container" current-when="index"}}
      <img class="ui fluid image" src="/assets/copa-tic_logo-header.svg" alt="Copa TIC, la escuela juega el mundial"/>
    {{/link-to}}

{{else}}

  {{log "Desktop"}}

  <div class="ui fixed borderless top menu header-oficial"></div>

  {{#link-to "app.index" (query-params id="") tagName="div" class="item logo-container" current-when="index"}}
    <img class="ui fluid image" src="/assets/copa-tic_logo-header.svg" alt="Copa TIC, la escuela juega el mundial"/>
  {{/link-to}}

  {{lista-de-rutas}}

{{/if}}

{{yield}}
