<div class="ui vertical stripe padded segment tablero-menu">
  <div class="ui container">
    <div class="filters">
    <div class="ui top attached tabular menu">
      {{#each equipos as |equipo|}}
        <a class="item" id="link-equipo-{{eid-a-equipo eid=equipo.eid}}">
          <div class="ui list">
            <div class="item">
              <span class="meta">Equipo {{eid-a-equipo eid=equipo.eid}}</span>
            </div>
            <div class="item">
              <b>DT {{#if equipo.dt}}{{equipo.dt}}{{else}}A DEFINIR{{/if}}</b>
            </div>
            <h2 class="item">
              <b>{{#if equipo.nombre}}{{equipo.nombre}}{{else}}SIN NOMBRE{{/if}}</b>
            </h2>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
  </div>
</div>
{{#each equipos as |equipo|}}
<div class="div-oculto" id="equipo-{{eid-a-equipo eid=equipo.eid}}">

  <div class="ui bottom attached very padded segment">
    <div class="ui container">
      <div class="ui grid">
        <div class="ui four wide middle aligned column right-side-border">
          <h1 class="ui huge center aligned icon header">
            <div class="content">
              <img class="ui mini centered image" src="/assets/iconos/icono_pelota.svg" alt="Ícono pelota de fútbol" />
                {{equipo.totalDeInsigniasGanadas}}
              <div class="ui sub header">
                INSIGNIAS
              </div>
              <div class="ui sub header">
                GANADAS
              </div>
            </div>
          </h1>
        </div>
        <div class="ui twelve wide column insignias-tablero">
          <div class="ui seven column grid">
            {{#each equipo.insignias_ganadas as |insignia|}}

                <div class="column insignia">
                  <img class="ui fluid {{if insignia.tiene '' 'disabled monocromo'}} image" src="/assets/insignias/{{insignia.nombre}}.svg" alt="{{insignia.nombre}}">
                </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{#if (eq model.fase4.estado true)}}
  <div class="ui inverted very padded segment bg azul">
    <div class="ui container">
      <div class="ui grid">
        <div class="ui four wide middle aligned column">
          <h1 class="ui center aligned white header">
            FASE<br>
            4
          </h1>
        </div>
        <div class="ui twelve wide column left-side-border-white">
          <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'two'}}  column stackable grid">
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a13link
                actividad=equipo.a13estado
                titulo="El gol animado"
                insignias="programacion"
                descripcion="Animación realizada en Scratch de uno de los goles de la Selección Argentina en el Mundial Rusia 2018."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a14link
                actividad=equipo.a14estado
                titulo="Medios, fútbol y discriminación"
                insignias="evaluacion-y-seleccion-de-medios-y-tecnologia, interpretacion-textual"
                descripcion="Prácticas y sugerencias de alumnos secundarios para garantizar la inclusión, el respeto y la convivencia en el fútbol."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a15link
                actividad=equipo.a15estado
                titulo="El Mundial de los datos"
                insignias=""
                descripcion="Los jugadores hacen competir a los países que participan del Mundial a partir de indicadores del Banco Mundial."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a16link
                actividad=equipo.a16estado
                titulo="Los estadios a través de la historia"
                insignias=""
                descripcion="Línea de tiempo que muestra cómo han sido utilizados los estadios por distintas civilizaciones a lo largo de la historia."}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if (eq model.fase3.estado true)}}
  <div class="ui inverted very padded segment bg verde">
    <div class="ui container">
      <div class="ui grid">
        <div class="ui four wide middle aligned column">
          <h1 class="ui center aligned white header">
            FASE<br>
            3
          </h1>
        </div>
        <div class="ui twelve wide column left-side-border-white">
          <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'two'}}  column stackable grid">
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a9link
                actividad=equipo.a9estado
                titulo="¿A qué jugamos?"
                insignias=""
                descripcion="Resultados de la encuesta realizada para conocer a qué deportes jugan los estudiantes de la escuela y cuáles siguen por los medios. "}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a10link
                actividad=equipo.a10estado
                titulo="Al ritmo del Mundial"
                insignias="produccion-sonora"
                descripcion="Relato sonoro que narra de manera distinta la historia y características de uno de los países que disputan la Copa del Mundo."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a11link
                actividad=equipo.a11estado
                titulo="El fútbol en mi barrio"
                insignias="produccion-fotografica"
                descripcion="En esta cuenta de Instagram los estudiantes nos cuentan cómo se vive el fútbol en sus barrios para que conozcamos mejor la Provincia."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a12link
                actividad=equipo.a12estado
                titulo="Campaña contra la discriminación de género en el fútbol"
                insignias="participacion-en-redes-sociales"
                descripcion="Imágenes que reflejan prácticas discriminatorias hacia las mujeres en el ámbito futbolístico."}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if (eq model.fase2.estado true)}}
  <div class="ui inverted very padded segment bg fuccia">
    <div class="ui container">
      <div class="ui grid">
        <div class="ui four wide middle aligned column">
          <h1 class="ui center aligned white header">
            FASE<br>
            2
          </h1>
        </div>
        <div class="ui twelve wide column left-side-border-white">
          <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'two'}}  column stackable grid">
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a5link
                actividad=equipo.a5estado
                titulo="De cábalas y otras yerbas"
                insignias="trabajo-colaborativo"
                descripcion="A través de un audio, los jugadores le explican a un extranjero qué son las cábalas y describen una que practican, en lengua inglesa."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a6link
                actividad=equipo.a6estado
                titulo="El Mundial '78 en primera persona"
                insignias="produccion-multimedia"
                descripcion="Este tablero de Pinterest contiene relatos de familiares de los jugadores que vivieron el Mundial de 1978 y configuran una narración colectiva en primera persona."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a7link
                actividad=equipo.a7estado
                titulo="El ranking de las proteínas"
                insignias="gestion-de-informacion"
                descripcion="Los jugadores hacen competir a los países que participan del Mundial a partir del nivel proteico de sus platos tradicionales."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a8link
                actividad=equipo.a8estado
                titulo="Remix  Mundial"
                insignias="produccion-audiovisual"
                descripcion="Video elaborado a partir del poema 'Nunca Jamás' del relator Walter Saavedra que refleja la pasión de los argentinos por el fútbol."}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if (eq model.fase1.estado true)}}
  <div class="ui inverted very padded segment bg celeste">
    <div class="ui container">
      <div class="ui grid">
        <div class="ui four wide middle aligned column">
          <h1 class="ui center aligned white header">
            FASE<br>
            1
          </h1>
        </div>
        <div class="ui twelve wide column left-side-border-white">
          <div class="ui {{if (or media.isMobile media.isTablet) 'one' 'two'}}  column stackable grid">
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a1link
                actividad=equipo.a1estado
                titulo="Mapa interactivo Rusia 2018"
                insignias="produccion-multimedia"
                descripcion="El Mundial Rusia 2018 se jugará en 12 estadios distribuídos en 11 ciudades. Para conocerlos en detalle, los alumnos realizaron un mapa interactivo con todas las sedes."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a2link
                actividad=equipo.a2estado
                titulo="¡Hay equipo!"
                insignias="estetica-y-diseno"
                descripcion="En este desafío, los jugadores diseñaron el escudo y escogieron el nombre de su equipo, a partir de los elementos que los identifican a ellos y a la escuela."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a3link
                actividad=equipo.a3estado
                titulo="Crónica: el Mundial en mi escuela"
                insignias="produccion-escrita"
                descripcion="A través de una crónica, las y los estudiantes cuentan cómo se vive el mundial en sus escuelas."}}
            </div>
            <div class="ui column desafio-card">
              {{ctic-tarjeta-desafio
                link=equipo.a4link
                actividad=equipo.a4estado
                titulo="El campeón inesperado"
                insignias="actuacion"
                descripcion="Los jugadores imaginan qué pasaría si un país con pocas probabilidades ganara la final de la Copa del Mundo, y lo narran a través de un relato radial. "}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
</div>
{{/each}}
