<div class="column tarjeta-recurso {{acciones}} {{recursos}} {{plataformas}}">
  <div class="ui fluid card">
    <div class="content">
      <div class="header">
        {{titulo}}
      </div>
      <div class="description">
        {{descripcion}}
      </div>
    </div>
  </div>
</div>
