<div class="ui vertical stripe padded segment">
  <div class="ui container">
    <h1 class="ui huge dividing header">
      Tablero
    </h1>
    <h3 class="ui header">
      {{model.equipo.escuela.nombre}}
    </h3>
    <h5 class="ui sub header">
      {{model.equipo.escuela.localidad}}
    </h5>
  </div>
</div>
<div class="ui vertical stripe padded segment">
  <div class="ui container">
    <div class="ui top attached tabular menu">
        <a class="item">
          <div class="ui list">
            <div class="item">
              <span class="meta">Equipo 1</span>
            </div>
            <div class="item">
              <b>DT {{model.equipo.dt}}</b>
            </div>
            <div class="item">
              <b>{{model.equipo.nombre}}</b>
            </div>
          </div>
        </a>
        <a class="item">
          <div class="ui list">
            <div class="item">
              <span class="meta">Equipo 2</span>
            </div>
            <div class="item">
              <b>{{equipo.dt}}</b>
            </div>
            <div class="item">
              <b>{{equipo.nombre}}</b>
            </div>
          </div>
        </a>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui container">

      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg azul">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          4
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">

            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg verde">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          3
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg fuccia">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          2
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted padded segment bg celeste">
  <div class="ui container">
    <div class="ui grid">
      <div class="ui four wide column">
        <h1 class="ui center aligned white header">
          FASE<br>
          1
        </h1>
      </div>
      <div class="ui twelve wide column">
        <div class="ui two column grid">
          <div class="ui column">
            <div class="ui card">
            </div>
          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
          <div class="ui column">
            <div class="ui card">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
