{{outlet}}
{{ctic-scrollto id=id}}
<div class="ui vertical stripe segment">
    {{#swiper-container pagination=true grabCursor=true navigation=true autoplay=true}}
        {{#swiper-slide}}
          {{#link-to 'app.juego'}}
            <img class="ui fluid image" src="/assets/slides/home_slide-01.jpg" alt="Poné a prueba tus conocimientos y competencias digitales"/>
          {{/link-to}}
        {{/swiper-slide}}

        {{#if (eq model.fase1.estado true)}}
          {{#swiper-slide}}
            {{#link-to 'app.juego'}}
              <img class="ui fluid image" src="/assets/slides/home_slide-02.jpg" alt="Mirá los desafíos de la Fase 1"/>
            {{/link-to}}
          {{/swiper-slide}}
        {{/if}}
        {{#if (eq model.fase2.estado true)}}
          {{#swiper-slide}}
            {{#link-to 'app.juego'}}
              <img class="ui fluid image" src="/assets/slides/home_slide-03.jpg" alt="Mirá los desafíos de la Fase 2"/>
            {{/link-to}}
          {{/swiper-slide}}
        {{/if}}
        {{#if (eq model.fase3.estado true)}}
          {{#swiper-slide}}
            {{#link-to 'app.juego'}}
              <img class="ui fluid image" src="/assets/slides/home_slide-04.jpg" alt="Mirá los desafíos de la Fase 3"/>
            {{/link-to}}
          {{/swiper-slide}}
        {{/if}}
        {{#if (eq model.fase4.estado true)}}
          {{#swiper-slide}}
            {{#link-to 'app.juego'}}
              <img class="ui fluid image" src="/assets/slides/home_slide-05.jpg" alt="Mirá los desafíos de la Fase 4" />
            {{/link-to}}
          {{/swiper-slide}}
        {{/if}}
      {{/swiper-container}}
</div>
<div class="ui vertical stripe segment home-a-jugar bg verde">
  <div class="ui container">
    {{ctic-home-cards}}
  </div>
</div>
<div class="ui vertical stripe padded segment home-resolve">
  <div class="ui center aligned container">
    <div class="ui three huge blue statistics">
      <!-- <div class="ui statistic">
        <div class="value">
          <img class="ui fluid image" src="/assets/home/icono-estudiantes.svg" alt="1800 estudiantes">
          1800
        </div>
        <div class="label">
          estudiantes
        </div>
      </div> -->
      <div class="ui statistic">
        <div class="value">
          <img class="ui fluid image" src="/assets/home/icono-secundarias.svg" alt="71 secundarias">
          71
        </div>
        <div class="label">
          secundarias
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
          <img class="ui fluid image" src="/assets/home/icono-dias.svg" alt="26 días">
          26
        </div>
        <div class="label">
          días
        </div>
      </div>
      <div class="ui statistic">
        <div class="value">
          <img class="ui fluid image" src="/assets/home/icono-desafios.svg" alt="16 desafíos">
          16
        </div>
        <div class="label">
          desafíos
        </div>
      </div>
    </div>
    <h1 class="ui center aligned header">
      <div class="ui content">
          <i class="ui small chevron right icon"></i>
        <span class="affo-light">UN SOLO OBJETIVO:</span> <span class="affo-medium">LLENAR LA <b class="verde">#COPATIC</b></span>
      </div>
    </h1>
  </div>
</div>
<div class="ui vertical stripe center aligned segment home-tablero" id="mapa">
  <h1 class="ui header bg fuccia">
    <img class="ui small image" src="/assets/home/icono-secundarias-blanco.svg">
    <div class="content affo-black">
      ENCONTRÁ TU ESCUELA Y ACCEDÉ AL TABLERO
    </div>
  </h1>
  <!-- Mapa -->
    {{#g-map lat=-36.0317071 lng=-59.7663028 zoom=6.5 as |context|}}
      {{#if model.listaDeEscuelas.isFinished}}
        {{#each model.listaDeEscuelas.value.data as |e|}}

          {{#g-map-marker context group="escuela" lat=e.latitud lng=e.longitud icon='/assets/iconos/green-dot.png' as |markerContext|}}
            {{#g-map-infowindow markerContext openOn="click" closeOn="click"}}
              <div class="ui segment infowindow-segment">
                <h2 class="ui header">
                  {{#link-to 'app.tablero.escuela' e.id}}
                    {{e.nombre}}
                  {{/link-to}}
                  <div class="ui sub header">{{e.localidad}}</div>
                </h2>
                <div class="ui equal width grid">
                  {{#each e.equipos as |equipo|}}
                  <div class="column infowindow-equipo">
                    <span class="meta">Equipo {{eid-a-equipo eid=equipo.eid}}</span>
                    <h5 class="ui header">
                      DT: {{#if equipo.dt}}{{equipo.dt}}{{else}}SIN DEFINIR{{/if}}
                    </h5>
                    <h4 class="ui header">
                      {{#if equipo.nombre}}{{equipo.nombre}}{{else}}SIN NOMBRE{{/if}}
                    </h4>
                    <h4 class="ui header">
                      Insignias ganadas: {{equipo.totalDeInsigniasGanadas}}
                    </h4>
                  </div>
                  {{/each}}
                </div>
                {{#link-to 'app.tablero.escuela' e.id class="ui bottom attached fluid button bg verde"}}VER TABLERO{{/link-to}}
              </div>
            {{/g-map-infowindow}}
          {{/g-map-marker}}
        {{/each}}
      {{/if}}
    {{/g-map}}
</div>
<div class="ui vertical center aligned very padded segment">
  {{#if (eq model.fase4.estado true)}}
    <img class="ui fluid image" src="/assets/home/banner-copa-fase-4.jpg" alt="Copa TIC - 100% Completa">
  {{else if (eq model.fase3.estado true)}}
    <img class="ui fluid image" src="/assets/home/banner-copa-fase-3.jpg" alt="Copa TIC - 75% Completa">
  {{else if (eq model.fase2.estado true)}}
    <img class="ui fluid image" src="/assets/home/banner-copa-fase-2.jpg" alt="Copa TIC - 50% Completa">
  {{else if (and (eq model.fase1.estado true) (eq model.fase0.estado true))}}
    <img class="ui fluid image" src="/assets/home/banner-copa-fase-0.jpg" alt="Copa TIC - 0% Completa">
  {{else if (and (eq model.fase1.estado true) (eq model.fase0.estado false))}}
    <img class="ui fluid image" src="/assets/home/banner-copa-fase-1.jpg" alt="Copa TIC - 0% Completa">
  {{/if}}
  <div  id="copa"></div>
</div>
<div class="ui vertical stripe padded segment bg celeste">
  <img class="ui image" src="/assets/home/home_producciones-colectivas.svg" alt="Resumen semanal de desafíos - Producciones colectivas">
</div>
<div class="ui vertical stripe padded segment home_segui-de-cerca">
  <div class="ui container">
    <div class="ui equal width fluid grid">
      <div class="column">
        <img class="ui medium image" src="/assets/home/home_segui-de-cerca-la-copatic.svg" alt="" >
      </div>
      <div class="column">
        <div class="ui four column grid">
          <a href="https://www.facebook.com/buenosairesconectados/" class="ui column" title="Facebook Buenos Aires Conectados">
            <img class="ui tiny image" src="/assets/home/home_icono-facebook.svg" alt="" >
          </a>
          <a href="https://twitter.com/BAConectados" target="_blank" title="Twitter Buenos Aires Conectados" class="ui column">
            <img class="ui tiny image" src="/assets/home/home_icono-twitter.svg" alt="" >
          </a>
          <!-- <a href="" class="ui column">
            <img class="ui tiny image" src="/assets/home/home_icono-youtube.svg" alt="" >
          </a>
          <a href="" class="ui column">
            <img class="ui tiny image" src="/assets/home/home_icono-instagram.svg" alt="" >
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
